div.wrapper {
  display: block;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  > div.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    > div.edit_control {
      max-width: 1000px;
      width: 100%;
      padding: 10px;
    }
    > div.widgets {
      flex-basis: 400px;
      flex-grow: 1;
      padding: 10px;
    }
  }
}