.footer {
  //position: absolute;
  //left: 0; bottom: 0;
  display: block;
  align-self: flex-end;
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var( --background-secondary-color );
  > div.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }
  nav {
    flex-basis: 50%;
    > ul {
      display: flex;
      flex-flow: wrap;
      justify-content: left;
      align-items: center;
      width: 100%;
      > li {
        flex-basis: auto;
        padding: 3px 15px;
      }
    }
  }
  small {
    flex-basis: 50%;
    font-size: 12pt;
    text-align: right;
  }
}
/*
span.spacer {
  display: block;
  width: 100%;
  height: 60px;
  opacity: 0;
}*/