.admin_toolbar {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 4px;
  font-size: 16px;
  //height: 24px;
  background-color: var(--admin-bar-background);
  z-index: 500;
  > .tool_links {
    flex-basis: 80%;
    display: flex;
    flex-flow: wrap;
    ul {
      display: flex;
      flex-flow: wrap;
      gap: 15px;
      li {
        flex-basis: auto;
        a {
          color: rgb(var(--foreground-color));
          padding: 0 15px;
        }
      }
    }
  }
  > .status_box {
    flex-basis: 20%;
  }
}

.header {
  flex-basis: 100%;
  display: flex !important;
  align-items: center;
  width: 100vw;
  padding: 10px;
}

.header.toolbar_enable {
  margin-top: 26px;
}

span.toolbar_enable {
  display: block;
  width: 100%;
  height: 70px;
}

.siteTitle {
  flex-basis: auto;
  .text {
    font-size: 20pt;
  }
}

nav.navigations {
  flex-basis: auto;
  flex-grow: 1;
  padding: 0 15px;
  ul {
    display: block;
    width: 100%;
    li {
      float: right;
      padding: 5px 15px;
    }
  }
}

div.author_sns {
  flex-basis: auto;
  text-align: center;
  a {
    font-size: 12pt;
    margin: 0 5px;
  }
}