@import '../page.module.scss';

/*
div.post_title_wrap {
  flex-basis: 100%;
  padding: 30px;
  text-align: center;
  h1 {
    font-size: 20pt;
    font-weight: bold;
  }
}

main.post_content {
  flex-basis: calc(100% - 355px);
  padding: 10px;
  > div.insert_html {
    width: 100%;
    padding: 10px;
    figure {
      display: block;
      width: 100%;
      padding: 15px;
      img {
        width: 100%;
      }
    }
  }
}*/